.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5em;
  width: 100%;
}
.mainSection .leftSection {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 50px;
}
.mainSection .leftSection .mainForm {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #808080;
  box-shadow: 0px 0px 7px #8c8b8b;
  padding-bottom: 35px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.mainSection .leftSection .mainForm .w100 {
  width: 100%;
}
.mainSection .leftSection .mainForm .lowerForm {
  margin: 0px 20px;
}
.mainSection .leftSection .mainForm .lowerForm .formTag {
  color: #e1960a;
  margin: 5px 0 20px 0;
  font-size: 30px;
}
.mainSection
  .leftSection
  .mainForm
  .lowerForm
  .formInput
  .inputInside
  .inputField {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 13px;
  padding-left: 35px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}
.mainSection .leftSection .mainForm .lowerForm .formInput .inputInside .filled {
  display: flex;
  font-weight: 600;
  margin: 1em 0 8px 4px;
}
.mainSection
  .leftSection
  .mainForm
  .lowerForm
  .formInput
  .inputInside
  .inputField::placeholder {
  opacity: 0.5;
}
.mainSection .leftSection .mainForm .lowerForm .inputField .inputIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainSection .leftSection .mainForm .lowerForm .inputIcon i {
  position: absolute;
  opacity: 0.5;
  padding: 14px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.mainSection .leftSection .mainForm .lowerForm .inputIcon i.keyIcon {
  font-weight: 600;
}
.mainSection .leftSection .mainForm .lowerForm .inputIcon i.eyeIcon {
  margin-left: 19em;
}
.mainSection .leftSection .mainForm .lowerForm .identification {
  display: flex;
  justify-content: space-between;
  margin: 2% 0 12% 0;
  font-size: 16px;
}
.mainSection
  .leftSection
  .mainForm
  .lowerForm
  .identification
  .remember
  label[for="rememberme"] {
  position: relative;
  bottom: 4px;
}
.mainSection
  .leftSection
  .mainForm
  .lowerForm
  .identification
  .remember
  input[type="checkbox"] {
  height: 17px;
  width: 17px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.mainSection
  .leftSection
  .mainForm
  .lowerForm
  .identification
  .forgot
  .forgotPass
  .forgotLink {
  text-decoration: none;
  color: #338caa;
}
.mainSection .leftSection .mainForm .lowerForm .submit .buttonSubmit {
  border: 1px solid #070790;
  background-color: #070790;
  margin: 1em 0 8px 0px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  font-size: 19px;
  font-weight: 500;
  width: 100%;
  padding: 8px;
}
.mainSection .leftSection .mainForm .lowerForm .submit .buttonSubmit:hover {
  color: #070790;
  background-color: #fff;
}
.mainSection .rightSection {
  width: 50%;
  display: flex;
  justify-content: center;
}
.mainSection .rightSection .comment {
  height: 627px;
  width: 100%;
  background-image: url(/images/ProjectSection.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  right: 30px;
  top: 2px;
}
.mainSection .rightSection .comment .coreValue {
  color: #131394;
  font-size: 2.25em;
  font-family: Arial, Helvetica, serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 0 7%;
}
@media only screen and (max-width: 480px) {
  .head {
    padding-bottom: 15px;
  }
  .head .logo .logoImg {
    width: 70px;
    height: 70px;
  }
  .head .headerNav .headerUL {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    float: right;
  }
  .head .headerNav .headerUL .headerLi .navlink {
    padding: 10px;
  }
  .head .headerBtn .headerIcon {
    font-size: 20px;
    display: block;
    cursor: pointer;
  }
  .head .headerNav .headerUL {
    display: none;
  }
  .head .headerBtn .innerBtn {
    background-color: #fff;
    color: #3c3c94;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 7px;
    font-weight: bold;
    cursor: pointer;
    font-weight: 600;
  }
  .headerBtn .innerBtn:hover {
    background-color: #070790;
    color: white;
  }
  .head .headerBtn .innerBtn.filled {
    display: none;
  }
  .mainSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 0;
    border-bottom: none;
  }
  .mainSection .rightSection .comment {
    height: 80px;
    width: 100%;
    background-image: url(/images/ProjectSection.png);
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    right: 0px;
    top: 0px;
  }
  .mainSection .rightSection .comment .coreValue {
    color: #131394;
    font-size: 18px;
    font-family: Arial, Helvetica, serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    width: 270px;
    position: relative;
    right: 50px;
    margin-top: 10px;
  }
  .mainSection .rightSection .comment .coreValue br {
    display: none;
  }
  .mainSection .leftSection {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  .mainSection .leftSection .mainForm {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #808080;
    box-shadow: 0px 0px 7px #8c8b8b;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding-bottom: 10px;
    margin-top: 40px;
    z-index: 1;
  }
  .mainSection .leftSection .mainForm .w100 {
    width: 100%;
    height: 90px;
  }
  .mainSection .leftSection .mainForm .lowerForm {
    margin: 0px 15px;
  }
  .mainSection .leftSection .mainForm .lowerForm .formTag {
    color: FD8900;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 25px;
  }
  .mainSection .leftSection .mainForm .lowerForm .formInput .filled {
    display: flex;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 6px;
  }
  .mainSection
    .leftSection
    .mainForm
    .lowerForm
    .formInput
    .inputInside
    .inputField {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 7px;
    padding-left: 30px;
    margin-bottom: 10px;
    background-color: #ecebea;
  }
  .mainSection .leftSection .mainForm .lowerForm .inputField::placeholder {
    opacity: 0.5;
  }
  .mainSection .leftSection .mainForm .lowerForm .inputField .inputIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainSection .leftSection .mainForm .lowerForm .inputIcon i {
    position: absolute;
    opacity: 0.5;
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainSection .leftSection .mainForm .lowerForm .inputIcon i.eyeIcon {
    margin-left: 14em;
  }
  .mainSection .leftSection .mainForm .lowerForm .identification {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px;
  }
  .mainSection
    .leftSection
    .mainForm
    .lowerForm
    .identification
    .remember
    input[type="checkbox" i] {
    height: 15px;
    width: 15px;
  }
  .mainSection .leftSection .mainForm .lowerForm .identification .remember {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .mainSection
    .leftSection
    .mainForm
    .lowerForm
    .identification
    .forgot
    .forgotPass
    .forgotLink {
    text-decoration: none;
    color: #338caa;
    font-size: 14px;
  }
  .mainSection .leftSection .mainForm .lowerForm .buttonSubmit {
    width: 100%;
    padding: 4px;
    margin-bottom: 3%;
  }
  .mainSection .leftSection .mainForm .lowerForm .submit .buttonSubmit {
    background-color: #070790;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
  }
  .mainSection .leftSection .mainForm .lowerForm .submit .buttonSubmit:hover {
    color: #070790;
    background-color: #fff;
    border: 1px solid;
  }
  .subsection {
    background-image: url(/images/ProjectSection.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 100px;
  }
  .mainFooter {
    display: none;
  }
}
