.section {
  width: 100%;
  display: flex;
}
.rightSection {
  width: 80%;
  margin: 0;
}
.rightsubSection {
  margin: 24px 24px 0 24px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
}

.rightSection .rightsubSection h1 {
  padding: 20px 24px;
}
.form {
  display: flex;
  gap: 10px;
  padding: 16px 24px;
  flex-wrap: wrap;
}
.userdetail {
  display: flex;
  gap: 10px;
}
.form input {
  height: 40px;

  width: 365px;
  margin-top: 6px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  outline: none;
}
.compulsory {
  color: #ff0000;
}
.rightsectionBtn {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  padding-top: 18px;
}
.cancelBtn {
  padding: 10px 20px;
  border: 1px solid #79747e;
  color: #fff;
  background-color: #010080;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.cancelBtn Link {
  text-decoration: none;
  color: #fff;
}
.cancelBtn.filled {
  background-color: #fff;
  color: #79747e;
}
.cancelBtn.filled Link {
  color: #79747e;
}
