 .mainFundraiser {
  display: flex;
}
.mainFundraiser .rightSection {
  width: 75%;
}
.mainFundraiser .rightSection .rightpart {
  border: 1px solid #eaecf0;
  border-radius: 16px;
  margin: 6px;
}
.mainFundraiser .rightSection .rightpart .bigText {
  padding: 35px 40px 0 40px;
}
.rightSection p{
  font-size: 16px;
}
.mainForm span {
  font-size: 18px;
}
.mainFundraiser .rightSection .rightpart .fundraiserDetail {
  display: flex;
  gap: 10px;
  padding: 16px 40px 30px 40px;
}
.mainFundraiser .rightSection .rightpart .fundraiserDetail input,
.firstpersonalDetail input,
.secondpersonalDetail input,
.thirdpersonalDetail input,
.firstdonationDetail input,
.seconddonationDetail input,
.selectNation {
  min-width: 280px;
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-size: 16px;
  color: #000000;
  margin-top: 6px;
  outline: none;
}
.selectNation {
  max-width: 280px;
  width: 100%;
  appearance: none;
  background-image: url(/images/downIcon.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}
.bankName {
  max-width: 280px;
  width: 100%;
}
.mainFundraiser .rightSection .rightpart .mainForm input::placeholder {
  color: #667085;
}
.mainFundraiser .rightSection .rightpart h2 {
  padding: 0 40px 0px 40px;
}
.mainFundraiser .rightSection .rightpart .firstpersonalDetail,
.secondpersonalDetail,
.thirdpersonalDetail,
.firstdonationDetail,
.seconddonationDetail {
  display: flex;
  gap: 10px;
  padding: 16px 40px 30px 40px;
}
.mainFundraiser .rightSection .rightpart .secondpersonalDetail,
.thirdpersonalDetail,
.seconddonationDetail {
  padding-top: 0;
}
.mainFundraiser .rightSection .rightpart .firstpersonalDetail input,
.secondpersonalDetail input,
.thirdpersonalDetail input,
.firstdonationDetail input,
.seconddonationDetail input,
.selectNation {
  min-width: 280px;
  width: 100%;
}
.selectNation {
  background-color: #ffffff;
  color: #000000; 
}
.mainFundraiser .rightSection .rightpart .formButton {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-bottom: 25px;
  padding: 0 45px;
}
.mainFundraiser .rightSection .rightpart .formButton .fundButton {
  padding: 10px 22px;
  width: 95px;
  border: 1px solid #79747e;
  border-radius: 8px;
  color: #fff;
  background-color: #010080;
  font-size: 16px;
  cursor: pointer;
}
.mainFundraiser .rightSection .rightpart .formButton .fundButton.donorButton {
  background-color: #fff;
  color: #505050;
}

.mainFundraiser .rightSection .rightpart .mainForm .compulsory {
  color: #ff0000;
}
.donation_date {
  min-width: 280px;
  width: 100%;
  color: #667085;
}
/* CSS for styling datalist options */
datalist#fundraiserPageList {
  background-color: #ffffff;
  min-width: 280px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

datalist#fundraiserPageList option {
  padding: 5px 10px;
}
.donationDetail select {
  min-width: 280px;
  width: 100%;
  border: 1px solid #d9d9d9;
  outline: none;
  color: #505050;
  margin-top: 6px;
  padding:11px 12px;
  border-radius: 6px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  appearance: none;
  background-image: url(/images/downIcon.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}
