.head {
  /* border-bottom: 2px solid #c2bfbf; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 20px;
}
/* #808080 */
.head .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .logo .logoImg {
  object-fit: contain;
}
.head .contentBar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.head .headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.head .headerNav .headerUL {
  display: flex;
}
.head .headerNav .headerUL .headerLi {
  list-style: none;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.head .headerNav .headerUL .headerLi .navlink {
  text-decoration: none;
  color: inherit;
  color: #303030;
  position: relative;
  padding: 9px;
}
.head .headerNav .headerUL .headerLi .navlink:hover {
  color: #000080;
}
/* .head .headerNav .headerUL .headerLi .navlink::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  margin: 0 2px;
  border-radius: 2px;
  background: rgb(225, 150, 10);
  background: linear-gradient(
    90deg,
    rgba(225, 150, 10, 1) 0%,
    rgba(255, 255, 255, 1) 90%
  );
  opacity: 0;
  transition: opacity 1s ease-out;
}
.head .headerNav .headerUL .headerLi .navlink:hover::after,
.head .headerNav .headerUL .headerLi .navlink.active::after {
  opacity: 1;
} */
.head .headerNav .headerUL .headerLi .active {
  color: #000080;
}
.head .headerNav .headerUL .dropdownLi {
  list-style: none;
}
.head .headerNav .headerUL .dropdownLi .dropdown .dropbtn {
  font-size: 20px;
  font-weight: 100;
  border: none;
  outline: none;
  padding: 21px 16px;
  font-family: "Roboto", sans-serif;
  background-color: inherit;
  margin: 0;
  color: #303030;
  position: relative;
  display: flex;
  align-items: center;
}
/* .head .headerNav .headerUL .dropdownLi .dropdown .dropbtn::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  margin: 0 2px;
  border-radius: 2px;
  background: #e1960a;
  background: linear-gradient(90deg, #e1960a 0%, #ffffff 90%);
  opacity: 0;
  transition: opacity 1s ease-out;
}
.head .headerNav .headerUL .dropdownLi .dropdown .dropbtn:hover::after {
  opacity: 1;
} */
.head .headerNav .headerUL .dropdownLi .dropdown .dropbtn:hover {
  color: #000080;
}
.head .headerNav .headerUL .dropdownLi .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}
.head
  .headerNav
  .headerUL
  .dropdownLi
  .dropdown
  .dropdown-content
  .dropdownProject {
  float: none;
  color: #272525;
  padding: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #bdb8b8;
  font-size: 20px;
  max-width: 238px;
  line-height: 1.45;
}
.head .headerNav .headerUL .dropdownLi .dropdown:hover .dropdown-content {
  display: block;
  /* padding: 5px; */
  font-weight: 500;
  min-width: 238px;
}
.head
  .headerNav
  .headerUL
  .dropdownLi
  .dropdown:hover
  .dropdown-content
  .dropdownProject:hover {
  color: #020257;
}
.downIcon {
  margin-left: 10px;
}
.head .headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
}
.head .headerBtn .innerBtn {
  background-color: #fff;
  color: #3c3c94;
  border: 2px solid;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 25px;
  font-weight: 500;
}
.head .headerBtn .innerBtn.filled {
  background-color: #070790;
  color: #fff;
  padding: 19px 51px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.head .headerBtn .innerBtn:hover {
  background-color: #070790;
  color: #ffffff;
}
.head .headerBtn .innerBtn.filled:hover {
  background-color: #fff;
  color: #070790;
}
.head .headerBtn .headerIcon {
  font-size: 25px;
  display: none;
}

/* profile */

.profileimg {
  margin-right: 30px;
}

.profileimg img {
  border: 2px solid #252988;
  border-radius: 100%;
  display: flex;
}
.profilebutton {
  border: none;
  background-color: #ffffff;
  display: flex;
  outline: none;
  cursor: pointer;
}
.profilebutton i {
  display: flex;
  padding-right: 5px;
  margin-top: 10px;
  font-size: 24px;
}
.profileimg .custom-dropdown {
  position: relative;
  font-family: Arial, sans-serif;
  border: none;
  z-index: 1;
  display: none;
}

.profileimg .selected-option {
  cursor: pointer;
  margin-left: 4px;
  margin-top: 14px;
  padding-right: 75px;
}
.profileimg .dropdown-options {
  min-width: 91px;
  @media only screen and (max-width: 425px) {
  }
  list-style: none;
  padding: 12px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 11px;
  z-index: 1;
  position: absolute;
  align-content: center;
  transform: translate3d(-40px, 55px, 0px);

  display: block;
}
.dropdown-options i {
  display: inline-block;
}
.profileimg .dropdown-options li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  min-width: 108px;
  border-radius: 16px;
  font-size: 20px;
}
.dropdown-options img {
  border: none;
  min-width: 47px;
}

.profileimg .dropdown-options li:hover {
  background-color: #f0f0f0;
}

.TagLine {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px rgb(197, 179, 179);
  font-size: 50px;
}
@media only screen and (max-width: 1023px) {
  .head {
    justify-content: space-between;
  }

  .head .headerNav {
    display: none;
  }

  .head .logo {
    justify-content: flex-start;
  }

  .head .headerBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    padding-right: 10px;
  }

  .head .headerBtn .innerBtn {
    display: none;
  }

  .head .headerBtn .headerIcon {
    display: block;
    color: #303030;
    cursor: pointer;
  }

  .head .headerBtn .innerBtn:hover .headerIcon {
    color: #e1960a;
  }
  .profileimg {
    margin: 0;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Start off-screen */
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: right 0.3s ease;
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar.open {
    right: 0;
  }

  .sidebar ul {
    padding: 20px;
  }

  .sidebar li {
    list-style-type: none;
    margin-bottom: 15px;
  }

  .sidebar a {
    text-decoration: none;
    color: #696161;
    font-size: 18px;
  }

  .sidebar a:hover {
    color: #e1960a;
  }
} /* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 1000;
  overflow-y: auto;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  right: 0;
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: white;
}

.sidebar nav ul {
  padding: 0;
  list-style: none;
  width: 100%;
}

.sidebar nav ul li {
  padding: 8px;
  text-align: left;
}

.sidebar nav ul li a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar nav ul li a:hover {
  color: #f1f1f1;
}

.sidebar nav ul li details summary {
  padding: 8px 32px;
  cursor: pointer;
  font-size: 25px;
  color: #818181;
}

.sidebar nav ul li details summary:hover {
  color: #f1f1f1;
}

.sidebar .sidebarBtn {
  margin-top: auto;
  padding: 20px;
  text-align: center;
}

.sidebar .sidebarBtn .innerBtn {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar .sidebarBtn .innerBtn.filled {
  background-color: #e8491d;
}

.sidebar .sidebarBtn .innerBtn:hover {
  background-color: #575757;
}

@media (min-width: 1024px) {
  .head .headerNav {
    display: flex;
  }

  .head .headerBtn .headerIcon {
    display: none;
  }

  .sidebar {
    display: none;
  }
  .headerBtn i {
    display: none;
  }
}

@media (max-width: 1023px) {
  .head .headerNav {
    display: none;
  }

  .head .headerBtn .headerIcon {
    display: block;
    color: #303030;
    cursor: pointer;
  }

  .profileimg {
    margin: 0;
  }
}
