  .content {
  width: 593px;
  height: 232px;
  margin-left: 80px;
}
.content h1 {
  font-size: 36px;
  font-weight: 700;
  color: #e9f7f0;
  letter-spacing: 2px;
}
.content p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
}
.rightSection {
  width: 50%;
}
.imgArea {
  margin-right: 60px;
}
.imgArea img {
  width: 100%;
  height: 548px;
  object-fit: contain;
}
.lowerPart {
  width: 100%;
  height: 69px;
  background-color: #04045f;
  color: #fff;
  position: absolute;
  top: 480px;
  display: flex;
  justify-content: end;
  align-items: center;
  opacity: 0.75;
  border: 1px solid #fff;
  border-top: none;
}
.lowerPart p {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.lowerPart p a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-weight: bolder;
  margin-left: 5px;
}
.aside {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftAside {
  width: 25%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.container a {
  text-decoration: none;
  width: 100%;
}
.container p {
  font-family: "Roboto", sans-serif;
  padding: 24px 40px;
  color: #000080;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 20px;
}
.container p a {
  text-decoration: none;
}
.container p:hover {
  background-color: #0000801a;
}
.active {
  background-color: #0000801a;
}
.asideIcon {
  margin-right: 10px;
}
.sidebarImg {
  margin-right: 10px;
  color: 0000ff;
}

/* adminFundraiser Starts */

.rightAside {
  width: 75%;
  padding: 40px;
  background-color: #f8f8f8;
}
.rightAside h1 {
  color: #fd8900;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}
.formPage {
  padding-top: 20px;
}
.rightAside label {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #171a1f;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mainCol {
  display: flex;
  gap: 65px;
}
.firstCol {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 10px;
}
.FundraisingTarget,
.MyStory,
.MoneyRaised {
  outline: none;
  padding-left: 1px;
}
.FundraisingTarget {
  min-width: 450px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
.asterik {
  color: #ff0000;
}
.MyStory {
  padding: 16px;
  font-size: 16px;
  font-family: Roboto;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  color: #171a1f;
  max-width: 450px;
  width: 100%;
}
.MyStory filled {
  border: 1px solid #d9d9d9;
  padding: 16px;
  border-radius: 8px;
  height: 308px;
  width: 450px;
}
.aboutMe {
  position: relative;
  top: 10px;
}
.thirdCol {
  margin-top: 20px;
}
.MoneyRaised {
  width: 100%;
  padding: 16px;
  font-family: Roboto;
  font-size: 16px;
  color: #171a1f;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 16px;
}
.submitButton {
  display: flex;
  justify-content: flex-end;
}
.formButton {
  background-color: #000080;
  color: #fff;
  padding: 11px 28px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 600;
  border-radius: 4px;
  margin-top: 28px;
}
.mainCol span,
.thirdCol span {
  display: flex;
  justify-content: space-between;
}
.mainCol span span,
.thirdCol span span {
  color: #9f9595;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  .aside {
    flex-direction: column;
  }
  .rightAside {
    width: 100%;
  }
  .mainCol {
    flex-direction: column;
    gap: 28px;
  }
  .FundraisingTarget {
    min-width: 240px;
  }
  .secondCol {
    padding-top: 10px;
  }
  .thirdCol {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
  .aside {
    flex-direction: column;
  }
  .rightAside {
    width: 100%;
  }
  .mainCol {
    flex-direction: column;
    gap: 28px;
  }
  .FundraisingTarget {
    min-width: 300px;
  }
  .secondCol {
    padding-top: 10px;
  }
  .thirdCol {
    padding-top: 20px;
  }
}